version: "3.9"

services:
  redis:
    image: redis:7
    container_name: devops_redis
    ports:
      - "6379:6379"

  app:
    build: .
    container_name: devops_app
    depends_on:
      - redis
    ports:
      - "8000:8000"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 5s
      timeout: 3s
      retries: 5